<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Simple API with Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container">
    	<h1>Simple API with Flask</h1>
    	<p>Home Page of API Tasks</p>
    	<a role="button" href="/tasks">View Tasks</a>
    	<a role="button" href="/employees">View Employees</a>

        <section class="container">
            
        </section>
    </main>
</body>
</html>

