<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ config.SWAGGER.title }}</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('main.swagger_dark_css') }}" />
    <link href="https://unpkg.com/swagger-ui-dist@3/swagger-ui.css" rel="stylesheet">
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
    <script src="https://unpkg.com/swagger-ui-dist@3/swagger-ui-standalone-preset.js"></script>
    <script>
      const ui = SwaggerUIBundle({
        url: "{{ config.SWAGGER.specs[0].url }}",
        dom_id: '#swagger-ui',
        presets: [
          SwaggerUIBundle.presets.apis,
          SwaggerUIStandalonePreset
        ],
        layout: "StandaloneLayout"
      });
    </script>
  </body>
</html>
